*{box-sizing: border-box;}
body{margin:0;}

main{
    width: 100%;
    height: 1490px;
}


/* header */
    header{

        width:100%;
        height:90px;    

        display:flex;
    }
        header > section{
        border: none;
        background-color: white;
        flex-basis:50%;
        display:flex;
        }
            .logo-section > div:nth-child(2){
                flex-basis:20%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .logo-section > div:nth-child(1),
            .logo-section > div:nth-child(3){
                flex-basis:40%;
            }
            
                #logo{
                    width:60px;
                    height:60px;
                }
                #logo:hover{
                    transition-duration: 0.25s;
                    width:70px;
                    height:70px;
                    border-bottom: 2px solid blue;
                }
        header > .nav{
            border: 1px solid black;
            background-color :blueviolet;
            flex-basis:50%;
            display:flex;
        }
            .nav > section:nth-child(1){
                border:none;
                background-color: white;
                flex-basis:55%;
                padding:0px;
                display:flex;

                align-items: center;
            }
            .nav > section:nth-child(2){
                border:none;
                background-color: white;
                flex-basis:45%;
            }
                .nav ul{
                    list-style: none;
                    display:flex;
                    flex-direction: row;
                    padding:0px;
                    margin:0px;
                    height:100%;
                }
                    .nav li{
                        padding:0px;
                        justify-content: center;
                        flex-basis: 25%;
                        height:100%;
                    }
                        .nav a{
                            display:block;

                            height:90px;
                            text-decoration: none;
                            height:100%;
                            font-size:15px;
                            text-align: center;
                            line-height: 50%;
                        }


/* main-section */
.main-section{
    width:100%;
    border:1px solid black;
    height:1200px;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;

}
    .main-section > section{
        border: 1px solid black;
        width:50%;
        height:25%;
    }
    .main-section > section{
    }

    .main-section > section:nth-child(1){
        background-color: yellow;
    }
    
    .main-section > section:nth-child(2){
        color:white;
        background-color: orange;
    }
    
    .main-section > section:nth-child(3){
        color:white;
        background-color: purple;
    }
    
    .main-section > section:nth-child(4){
        color:white;
        background-color: black;
    }
    
    .main-section > section:nth-child(5){
        color:white;
        background-color: blue;
    }
    
    .main-section > section:nth-child(6){
        color:white;
        background-color: red;
    }
    
    .main-section > section:nth-child(7){
        color:white;
        background-color: brown;
    }
    
    .main-section > section:nth-child(8){
        color:white;
        background-color: rgb(29, 43, 48);
    }
    


    footer{
        border: 2px solid black;
        height:200px;
        background-color: rgb(46, 46, 46);
        color:white;
    }
