div{
    border:1px solid black;
    box-sizing: border-box;
}
    .container-1{
        border: 2px dashed red;
        position : relative;
    }
    .first{
        width:400px;
        height:400px;
        background-color:rgb(207, 192, 221);
    }
    .second{
        width: 300px;
        height: 300px;
        color:White;
        background-color: rgb(178, 136, 218);
        
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .third{
        width: 200px;
        height: 200px;
        background-color: rgb(149, 82, 211);

        position: absolute;
        top:100px;
        left:100px;
    }
    .fourth{
        width: 100px;
        height: 100px;
        background-color: blueviolet;

        position : absolute;
        top:150px;
        left:150px;
    }

.container-2{
    width:400px;
    height: 400px;

    position: relative;
}
    #center{
        width:50px;
        height: 50px;
        background-color: pink;

        position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:auto;    
        /*부모 크기 달라져도 정가운데로 배치됨*/
    }   

.fixed-area{
    width: 70px;
    height: 30px;
    background-color: black;

    position:fixed;
    bottom: 50px;
    right:50px;

    
}
    .fixed-area > a{
        text-decoration: none;
        color: white;}
    .fixed-area > a:visited{/*하이퍼링크 방문한 적 있을 때 색깔*/
        color: rgb(255, 255, 255);} 