/*---------------------------------------------------------*/

/*5순위 태그선택자*/
div{
    width:200px;
    height:200px;
    background-color: red !important;
}

/*4순위 클래스선택자*/
.cls1{
    background-color: green;
}

/*3순위*/
#test1{

    height:100px;
    background-color: black;
    color:white;
}