#test1 > p:only-child{
    background-color: aqua;
} /*자식태그가 2개라 적용 안 됨*/

#test12 > p:only-child{
    background-color: aqua;}

#test2 > p:only-of-type{
    background-color: red;
}

#test3 > p:empty{
    background-color: greenyellow;
    height:30px;
    /*단순p태그만 있어서는 표시가 되지 않기 때문에 높이 설정*/
}

#test4-1, #test4-2, .test4-3{
    background-color: orangered;
}

/*id 가 test5-1인 후손 중 클래스가 c5인 요소 선택*/
#test5-1 .c5{
    background-color: brown;
}

/*
id 가 test5-2인 후손 중 클래스가 c5인 li 태그만 선택
띄어쓰기 주의
*/
#test5-2 > li.c5{
    background-color: rgb(169, 233, 185);
}

.test6.c6{
    background-color: red;
}














