/* header */
*{box-sizing: border-box;}/*기초 테두리. 왜?*/
body{margin:0;} /*body 태그 여백 삭제*/

main{
    width: 1140px;/*넓이 제한*/
    margin:auto; /*가운데 정렬*/
}

header{
    height:200px;
    display:flex;
}
    header > section:nth-child(1), /*header 구역 설정*/
    header > section:nth-child(3) {
        flex-basis:15%;
    }
    header > section:nth-child(1),
    header > section:nth-child(2){
        display:flex;
        justify-content: center; /*로고 및 검색창 가운데정렬*/
        align-items: center;
    }
        #home-logo{ /*로고 크기 설정*/
            width:120px;
            height:120px;
        }
    header > section:nth-child(2){
        flex-basis:70%;
    }
    .search-area{ /*검색창 영역 크기 제한*/
        width:500px;
    }
        .search-area fieldset{
            border: 2px solid #5d189e;
            border-radius: 5px;
            padding:2px;
            display:flex;
        }
            #query{
                padding:10px;
                flex-basis:92%;
                font-size:18px;
                color: rgb(0, 0, 0, 0.7);
                font-weight: bold;
                border:0; /*검색창 테두리 제거*/
                outline:none; /*마우스 포커싱 시 발생하는 윤곽 제거*/
            }
            #search-btn{
                flex-basis:8%;
                font-size:20px;
                color:#5d189e;
                cursor:pointer;
                background-color: transparent;
                border:0;
            }


/*nav*/
nav{
    height:50px;
    border-bottom:2px solid black;

    position:sticky; 
    /* sticky: 특정 스크롤 위치에 도달 시 요소가 고정되는 효과 */
    /* top, buttom, left, right 등 위치 속성이 필수로 작성되어야 함*/
    /* 임계점 도달 시 어느 위치에 부착할지 설정되어야 하기 때문*/
    top:0;
    background-color: white;
}

/*
미디어 쿼리 (Media Query)

@media
- 미디어 쿼리를 선언하는 키워드로, 특정조건(화면 크기)에 따라 CSS 스타일을
적용할 때 사용함. 즉, 스마트폰 등 기기 화면 크기 차이에 따라 다른 스타일 적용

all 
- 미디어 유형을 나타내는 부분.
all 은 모든 미디어 유형에 적용
생략가능하며, 보통 screen 많이 사용

(max-width: 767px)
- 반응형 모바일 기준 기기의 화면 너비가 767px 이하일 때 해당 스타일을 적용함
스마트폰, 작은 태블릿 등 작은 화면에서 적용하는 크기
*/

/* 모바일 : 화면 너비가 767px 이하일 때 */
@media all and (max-width: 767px){
    main{
        width: 100vw;
        /* vw : viewport with의 약자 */
        /* 현재 뷰포트(모바일 기기 등 화면 크기)의 100%만큼 너비 차지 */
    }
        header{
            display: none;
        }
        nav{
            width:100%;
            border-bottom: none;
            height:auto;
        }
            nav > ul{
                flex-direction: column;
            }
                nav li {
                    flex-basis:auto;
                    border-bottom: 1px solid #ddd;
                }
        .content{
            flex-direction:column-reverse;
        }
        .content-2{
            padding:20px;
        }
    footer p, footer > section > *{
        font-size:12px;
    }
}

/*태블릿 기준*/
@media all and (min-width: 767px) and (max-width: 1023px) {}

/*pc 기준*/
@media all and (min-width: 1024px) {}


    nav > ul{
        display:flex;
        flex-direction: row;
        margin:0;
        padding:0;
        list-style: none; /*목록 글머리기호 제거*/
        height:100%;
    }
        nav li{
            flex-basis:150px; /*창 줄어도 크기 변동 없도록 고정크기 부여*/
        }
            nav a{
                text-decoration: none;
                font-size:18px;
                font-weight: bold;
                color: black;
                display:block; /*a태그는 inline 이라 block으로 전환하여 가운데 정렬 등 기능이 작동하도록 한다*/
                text-align:center;
                line-height:50px;
                height:100%;

                border-radius: 5px;
                transition-duration: 0.2s;
            }   
            nav a:hover{
                background-color:rgb(32, 32, 156);
                color:white;
            }

.content{
    display:flex;
}
    .content-1{
        flex-basis:70%;
        display:flex;
        flex-direction:column;
        margin-top:20px;
    }
        .content-item{
            width:90%;
            border: 1px solid rgb(196, 192, 192);
            margin-bottom:20px;
            padding:10px;
        }
            .content-item div{
                width:100%;
                height:200px;
            }
            .content-item img{
                width:100%;
                height: 200px;
                object-fit: cover; /* 이미지 비율 손상 방지*/
            }
            .content-item > h1 > a{
                width:100%;
                text-decoration: none;
                color: black;
                border-radius: 5px;
                transition-duration: 0.2s;
            }
            .content-item > h1 > a:hover{
                background-color: black;
                color: white;
            }
            .content-item p{
                /*브라우저가 화면을 출력할 때 렌더링을 하는데 렌더링 시 웹킷이라는 렌더링 엔진 사용*/
                display:-webkit-box; /*웹킷 전용 플렉스 박스로 형태를 출력 : 줄 수 제한 기능 위한 준비*/
                -webkit-line-clamp: 3; /* 텍스트 최대 3줄까지 출력*/
                -webkit-box-orient: vertical; /* 텍스트 방향 세로 방향으로 줄 세움 */
                overflow:hidden; /* 3줄 이후 텍스트 화면에서 숨기기*/
                
                text-align:justify;
                font-size:12px;
            }
    .content-2{
        flex-basis:30%;
        display:flex;
        flex-direction:column;
    }
        form[name="login-form"]{
            height:130px;
            margin-top: 20px;
            display:flex;
            flex-direction:column;
        }
            #id-pw-area{
                flex-basis: 70%;
                display: flex;
                margin:0px;
                padding:0px;
                border: 1px solid #ddd;
            }
                #id-pw-area > section:nth-child(1){
                    flex-basis:75%;
                    display:flex;
                    flex-direction: column;
                }
                    #id-pw-area input{
                        flex-basis:50%;
                        border:none;
                        outline:none;
                        padding: 5px;
                        border-right:1px solid #ddd;
                    }
                    #id-pw-area input:first-child{
                        border-bottom:1px solid #ddd;
                    }
                    #id-pw-area input:focus{
                        border: 2px solid #455ba8;
                    }
                #id-pw-area > section:nth-child(2){
                    flex-basis:25%;
                }
                    #id-pw-area button{
                        width:100%;
                        height:100%;
                        border:none;
                        background-color: transparent;
                        cursor:pointer;
                    }
                    #id-pw-area button:hover{
                        background-color: #455ba8;
                        color:white;
                    }
            form[name="login-form"] > label{
                flex: basis 30%;
                margin-top: 10px;
                font-size: 14px;
            }
        #signup-find-area{
            margin-left: 5px;
        }
            #signup-find-area > a{
                color:black;
                font-size: 14px;
                text-decoration: none;
            }
            #signup-find-area > span{
                padding:0 10px;
            }
footer{
    height:200px;
    background-color: #a3add342;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
    footer > p{
        font-weight: bold;
    }
    footer > section > *{
        font-size:14px;
    }
        footer a {
            color:black;
            text-decoration: none;
        }
        footer span {
            padding: 0 10px;
        }
